<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="formc-container">
        <h2> signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name"> Name :</label>
                <input type="text" id="name" name="username"  placeholder="Enter your username..." required autocomplete="off"><br>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required>
                <button type="submit" class="submit-btn">signup</button>
            </div>
        </form>
       
    </div>
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        form{
            position: relative;
            top: 150px;
            left: 540px;
            justify-content: center;
            align-items: center;
            width: 450px;
            height: 450px;
            border: 1px solid black;
            padding: 30px;
            box-shadow: 10px 10px lightblue;
        }
        form .form-floating{
            margin-bottom: 10px;
        }
    </style>

</head>
<body>
    <form class="login-bar" action="/signup" method="post">
        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Hello New User !</h1>
        <h1 class="h3 mb-3 fw-normal">Please Register</h1>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Enter your username" name="username" >
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
        <p class="sign-in">Not a new user ?   <a href="./login.html"> sign-in</a></p>
      </form>
</body>
</html> -->